/* ===============================
   GLOBAL BLEND CONTEXT
   =============================== */
/* .blend-context {
  isolation: isolate; 
} */

/* ===============================
   BACKGROUND SOFTENING
   =============================== */
/* .bg-dim {
    opacity: 0.80;
  filter: saturate(0.50) brightness(1.70) contrast(0.70);
} */

/* ===============================
   BLENDED FOREGROUND ITEMS
   =============================== */
.blend-item {
  mix-blend-mode: multiply;
  opacity: 0.85;
     filter: saturate(1.30) brightness(0.99) contrast(1.20);

}

.blend-item-map{
     mix-blend-mode: multiply;
  opacity: 0.75;
     filter: saturate(1.2) brightness(0.90) contrast(1.2);
}
/* ===============================
   RED PANEL (BLENDS PERFECTLY)
   =============================== */
.red-panel {
  width: 100%;
  height: 100%;
  background-color: #a60001;
  mix-blend-mode: multiply;
  opacity: 0.85;
   filter: saturate(1.2) brightness(0.85) contrast(1.05);
}
