/* ===============================
   MAP WRAPPER
   =============================== */

.contact-map-wrapper {
  position: absolute;
  right: 30px;
  top: 30px;
  bottom: 30px;
  width: 590px;
  z-index: 10;
  background-color: #f1f1f1bd;

  /* very subtle interaction */
  mix-blend-mode: multiply;
}

/* ===============================
   MAP PANEL (BACKGROUND)
   =============================== */

.contact-map-panel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===============================
   INNER WRAPPER (CREATES SPACE)
   =============================== */

.contact-map-inner {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* ===============================
   MAP IMAGE
   =============================== */

.contact-map-img {
  width: 100%;
  height: 100%;

  object-fit: fill;

  opacity: 0.92;

  filter: contrast(1.0) brightness(1.02) saturate(1.08);
}


/* ===============================
   LARGE SCREENS
   =============================== */

@media (min-width: 2000px) {
  .contact-shutter-section {
    height: 1000px;
  }
  .contact-shutter-text {
    margin-left: 30px;
  }
}
