/* ===============================
   GLOBAL BLEND CONTEXT
   =============================== */


/* .blend-context {
  isolation: isolate; 
} */

/* ===============================
   BACKGROUND SOFTENING
   =============================== */
/* .bg-dim {
    opacity: 0.80;
  filter: saturate(0.50) brightness(1.70) contrast(0.70);
} */

/* ===============================
   BLENDED FOREGROUND ITEMS
   =============================== */
.blend-item {
  mix-blend-mode: multiply;
  opacity: 0.85;
  filter: saturate(1.30) brightness(0.99) contrast(1.20);
}

.blend-item-map{
   mix-blend-mode: multiply;
   /* opacity: 0.75;
   filter: saturate(1.2) brightness(0.90) contrast(1.2); */
}


/* ===============================
   RED PANEL (BLENDS PERFECTLY)
   =============================== */
.red-panel {
  width: 100%;
  height: 100%;
  background-color: #a60001;
  mix-blend-mode: multiply;
  opacity: 0.85;
  filter: saturate(1.2) brightness(0.85) contrast(1.05);
}


/* ===============================
   CONTACT TEXT SPACING (GLOBAL)
   =============================== */

.lg-mid-content h3,
.lg-mid-content p,
.lg-mid-content a {
  margin: 0;
}

.lg-mid-content h3 {
  line-height: 0.95;
}

.lg-mid-content p,
.lg-mid-content a {
  line-height: 1.45;
  margin-top: 5px;
}



/* ===============================
   ONLY FOR 1280px – 1350px
   =============================== */
@media (min-width: 1280px) and (max-width: 1350px) {

  .lg-mid-section {
    height: 750px;
  }

  .lg-mid-left {
    width: 38% !important;
  }

  .lg-mid-content {
   padding: 20px;
  }

  .lg-mid-right {
    width: 38% !important;
  }

  .lg-mid-center {
    width: 38% !important;
  }

  .lg-mid-green {
    transform: scale(0.92);
  }

  /* Headings */
  .lg-mid-content h3 {
    font-size: 65px !important;
    line-height: 1.20;
  }

  /* Text values */
  .lg-mid-content p,
  .lg-mid-content a {
    font-size: 26px !important;
    line-height: 1.25;
  }
}


