@import "tailwindcss";

h1, h2{
  font-family: var(--font-cormorant), serif;
}


body, div, p, ul, li, h3, h4, h5, h6, button, input, label, Link {
  font-family: var(--font-lato), sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  position: relative;
  scroll-margin-top: 100px; /* Navbar height + buffer */
}